
{% extends 'base.html'%}


{% block content %}

{% include 'files_list3.html' %}
{% load crispy_forms_tags %}

  <h2>Upload Image</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    
    
    <button type="submit" class="btn btn-primary">Upload Image</button>
  </form>

  

  <div class="messages">
      {% if messages %}
        {% for message in messages %}
          <p class="alert alert-danger">
            {{ message }}
          </p>
        {% endfor %}
      
      {% endif %}
  </div>
  

{% endblock %}